@model SLM.Bussiness.Models.CoursesModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CoursesModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" class="form-control" type="hidden" />

            <div class="col-sm-2 position-relative">
                <!-- Image upload -->

                <a class="brand">
                    <img class="rounded mx-auto d-block" src="~/images/dt.jpg"
                         height="400px" width="800px" />
                </a>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>

                 <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>

                <label asp-for="Teacher" class="control-label"></label>
                <input asp-for="Teacher" class="form-control" />
                <span asp-validation-for="Teacher" class="text-danger"></span>

                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>

                
            </div><br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div><br />
            <div class="form-group">
                <input type="submit" asp-action="Index"  value="Back" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
