@model SLM.Bussiness.Models.CoursesModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CoursesModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            

                <input asp-for="Id" class="form-control" type="hidden" />

            <div class="col-sm-2 position-relative">
                <!-- Image upload -->

                <a class="brand">
                    <img class="rounded mx-auto d-block" src="~/images/eddit.jpg"
                         height="400px" width="800px" />
                </a>
            </div>
            <br />
                    
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />

                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />

                <label asp-for="Teacher" class="control-label"></label>
                <input asp-for="Teacher" class="form-control" />

                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                
    
            </div><br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
