@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.Title = "About";
}

<h3 style="margin-top:50px;">About Us</h3>
<br />
<h6>Online learning is a big thing in life nowadays, so never stop learning. We bring learning to people for enhance their skills.</h6>
<br />
 <div class="col-sm-2 position-relative">
            <!-- Image upload -->

            <a class="brand">
        <img class="rounded mx-auto d-block"  src="~/images/Q.jpg"
                     height="400px" width="800px" />
            </a>
 </div><br />

<div class="container" style="margin-left:22px; ">

    <div class="row">

        <div class="col-sm-7">
            <div class="row">
                <div class="col-4 col-sm-2 ">
                    <label for="Email" style="font-size: 14px;" class="Email"><b>Email:</b></label><br>

                    <label style="font-size: 14px;" for="contact" class="form-label">
                        <b>Conact:</b>
                    </label><br>

                    <label style="font-size: 14px;" for="address"><b>Address:</b></label><br>
                </div>

                <div class="col-7 col-sm-7 position-relative">
                    <div>
                        <input style="width: 200%; height: 30px; color:blue;" type="text" readonly class="form-control-plaintext" id="Email" value="support@slm.com">
                    </div>

                    <div>
                        <input style="width: 200%; height: 30px;" type="text" readonly class="form-control-plaintext" id="contact" value="04-84792839">
                    </div>

                    <div>
                        <input style="width: 200%; height: 30px;" type="text" readonly class="form-control-plaintext" id="address" value="Smart Learning Management.Ltd, Galway Technology Park, NewYork, H91 E309, USA."><br>
                    </div>


                </div>
            </div>
        </div>





    @*    <div class="col-sm-2 position-relative">
            <!-- Image upload -->

            <a class="brand">
                <img src="~/images/contact.jpg"
                     height="400px" width="400px" />
            </a>
        </div>*@


    </div>
</div>