@model SLM.WebApp.Program

@{
   
}
<br />
<div class="text-center">
    <img src="~/images/home1.jpg" class="rounded" >
   
</div>


<div>

    <button asp-action="Index" class="btn btn-primary btn-align-center btn-lg" 
    asp-controller="Courses" asp-action="Inde" height="30px" width="40px">Courses List</button>
    <button asp-action="Register" class="btn btn-primary btn-align-center btn-lg" height="30px" width="40px">Register Yourself</button>
  
</div>