
@{
    ViewData["Title"] = "Index";
}
<br />
<div class="text-center">
    <img src="~/images/home1.jpg" class="rounded" >

</div>


<div>

    <button>
        <a class="btn btn-primary btn-align-center btn-lg"   height="30px" width="40px"
 asp-area="" asp-controller="Home" asp-action="Index"><b>Courses List</b></a>
    </button>

      

    <button asp-action="Register" class="btn btn-primary btn-align-center btn-lg" height="30px" width="40px">Register Yourself</button>

</div>
