@model SLM.Bussiness.Models.UserModel

@{
    ViewData["Title"] = "Login";
}
<br />
<br />
<h3 style="text-align:left; text-justify:auto; font-size:28px;"><b>Login Here!</b></h3>
<br />

<div class="row">
    <div class="col-md-6">
        <img src="~/images/login.png" class="card-img-top" style="padding-top:5px; width=10px; height=355px;" alt="...">
    </div>

    <div class="col-md-6">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <br/>
           <br/>
           <br/>
                <div class="col-md-6">
                    <label asp-for="Designation" class="form-label"><b>Desigation</b></label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Designation" name="Designation" id="Designation" onclick="handleChange(this);"
                               value="Teacher" checked>
                        <label class="form-check-label" asp-for="Designation">
                            Teacher
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="Designation" name="Designation" id="Designation" onclick="handleChange(this);"
                               value="Student">
                        <label class="form-check-label" asp-for="Designation">
                            Student
                        </label>
                    </div>
                    <span asp-validation-for="Designation" class="text-danger"></span>
                </div>

                <script>
                    function handleChange(myCheckbox) {
                        const emailDiv = document.getElementById('emailDiv', 'pwdDiv');
                        if (myCheckbox.value == "2") {
                            emailDiv.style.display = '';
                            pwdDiv.style.display = '';
                        }
                        else (myCheckbox.value == "1") {
                            emailDiv.style.display = '';
                            pwdDiv.style.display = '';
                        }

                    }

                </script>

<br />
<br /><br />

                <div class="col-md-6">

                    <label asp-for="Email" class="control-label"><b>Email</b></label>
                    <input type="text" class="form-control" asp-for="Email" id="Email" placeholder="abc@globalmail">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>


                <div class="col-md-6">
                    <label asp-for="Password" class="control-label"><b>Password</b></label>
                    <input type="password" class="form-control" asp-for="Password" id="Password">
                    <span asp-validation-for="Password" class="form-control-danger"></span>
                </div>


                <br />
           
           <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" asp-for="RememberMe" type="checkbox" id="gridCheck">
                        <label class="form-check-label" asp-for="RememberMe">
                <b>Check me out</b>
            </label>
                        <span asp-validation-for="RememberMe" class="text-danger"></span>
        </div>
    </div>
                
            <div class="form-group gap-2 d-md-flex justify-content-md-end">
                    <input type="submit" value="Login" class="btn btn-primary" href="~/Account/Dashboard" />
            </div>
        </form>
    </div>
</div>
</div>
@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
