<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Smart Learning Managemenet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SLM.WebApp.styles.css" asp-append-version="true" />

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar navbar-expand-sm navbar-dark bg-dark position: fixed;">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png"
                     height="60px" width="60px" />
            </a>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><b>Smart Learning Managemenet</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-nav">
                <a asp-controller="Registration" asp-action="Login" class="nav-item nav-link btn-warning btn-sm  active" type="submit" value="Logout" Width="60px" OnClick="btnSubmit_Click">
                    Logout
                </a>

                <div class="divider" /></div>
            </div>
    </nav>

   

    <div class="sidenav" >
        <a class="list-group-item list-group-item-action  "active" src="~/images/dashboard.png" href="~/Account/Dashboard">Dashboard</a>
        <a class="list-group-item list-group-it;em-action  src="~/images/profile.png" href="~/Account/Details">Profile</a>
        <a class="list-group-item list-group-item-action  src="~/images/lec.png" href="~/Courses/Index">Course</a>
        <a class="list-group-item list-group-item-action  src="~/images/lec.png" href="~/Lecture/Index">Lecture</a>
        <a class="list-group-item list-group-item-action src="~/images/abouti.png" href="~/Account/About">About</a>
        <a class="list-group-item list-group-item-action  src="~/images/Contact.png" href="~/Account/Contact">Contact</a>
    </div>

    <style>

        
            .sidenav {
                 height: 100%;
                 width: 190px;
                 background-color: #212529;
                 position: fixed;
                 z-index: 1;
                 top: 0;
                 left: 0;
                 overflow-x: hidden;
                 margin-top:80px;
                 padding-top: 80px;
             }

            .sidenav a {
               /* padding: 0px 8px 8px 18px;*/
               
               margin-top:0px;
                text-decoration: none;
                font-size: 18px;
                background-color: #FEBE00;
                color: #212529;
                display: block;
            }

             .sidenav a:hover {
                      color: #f1f1f1;
             }



   

       

        .navbar ul li a:hover {
            background: #FEBE00;
            mix-blend-mode: lighten;
            color: transparent;
            color: #ffff;
        }

        .navbar ul li ul {
            position: absolute;
            left: 0;
            width: 50px;
            background: #212121;
        }

            .navbar ul li ul li {
                width: 60%;
                border-top: 1px solid rgba(0,0,0,.1);
            }

        .divider {
            width: 6px;
            height: auto;
            display: inline-block;
        }

        div a {
            font-size: 1.5vw;
        }

        #top-bar {
            background: #F6F6F6;
            border-radius: 2px;
            height: 0;
            min-height: 40px;
        }

        #body_content {
            margin-top: 0px !important;
        }

        .link {
            height: 50px;
            width: 100%;
        }

        .header {
            font-style: italic;
            font-size: 16px;
            color: #1694CA;
            padding-right: 5px;
        }

        .content {
            text-align: center;
            padding: 2.5vw;
            padding-top: 0px;
            position: relative;
            margin: 2vw;
            box-shadow: 0 0 8px 0;
        }

        .body-inner {
            padding-top: 50px;
            text-align: center;
            font-size: 3vw;
        }

        body {
            padding: 0px;
        }

        .component {
            height: 100%;
            line-height: 40px;
            padding: 0 0 0 27px;
        }

        .text {
            font-size: 16px;
            text-align: justify;
            padding-top: 20px;
            font-family: "Muli", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
        }
    </style>
    @*<script>
        function btnSubmit_Click() {
            window.location.href = "/Registration/Index";
        }
        function handleChange(myCheckbox) {
            const emailDiv = document.getElementById('emailDiv', 'pwdDiv');
            if (myCheckbox.value == "2") {
                emailDiv.style.display = '';
                pwdDiv.style.display = '';
            }
            else if (myCheckbox.value == "1") {
                emailDiv.style.display = '';
                pwdDiv.style.display = '';
            }

        }

    </script>
*@

</head>
<body>
    


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container" style="margin-right:25px;">
            &copy; 2023 - Store-Learining-Managmenet.WebApp 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
