@{
    Layout = "_Layout1";
}


@model SLM.Bussiness.Models.LectureModel
@{
    ViewData["Title"] = "Create";
}

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">


@*@model List<string>
<div class="container">
    <div class=" row">
        @foreach (var filePath in Model)
        {
                <div class="col-md-3">
                    <div class="alert alert-success" role="alert">
                        <a href=" Gallery/ DownloadFile/?filePath=@filePath"><img src="~/@filePath" alt="AlternteText" height="100px"
                            width="250px/><a>
                    </div>
                </div>

        }
    </div>*@
<div class="main">

    <h2 style="margin-top:50px;">Create</h2>


    <h3>Add Lecture:</h3>
    <br />
    <hr />
    <div class="container">
        @using (Html.BeginForm("Create", "Lecture", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-4">
               
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Id" class="form-control" type="hidden" />
                        @*
                    <div class="col-sm-2 position-relative">
                    <!-- Image upload -->

                    <a class="brand">
                    <img class="rounded mx-auto d-block" src="~/file/"
                    height="400px" width="800px" />
                    </a>
                    </div>*@
                        <br />

                        <div class="form-group">
                            <label asp-for="LectureName" class="control-label"></label>
                            <input asp-for="LectureName" class="form-control" />
                            <span asp-validation-for="LectureName" class="text-danger"></span>

                            <label asp-for="LectureDescription" class="control-label"></label>
                            <input asp-for="LectureDescription" class="form-control" />
                            <span asp-validation-for="LectureDescription" class="text-danger"></span>

                            <label asp-for="CourseId" class="control-label"></label>
                            <input asp-for="CourseId" class="form-control" />
                            <span asp-validation-for="CourseId" class="text-danger"></span>


                            <label asp-for="LectureURL" class="control-label"></label>
                            <input asp-for="LectureURL" class="form-control" input-type="file" type="file" name="file" multiple />
                            <span asp-validation-for="LectureURL" class="text-danger"></span>

                            @*        <div class="form-group">*@
                           
                            @*    </div>*@

                        </div><br />
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary">
                        </div><br />
                        @*<div class="form-group">
                    <input type="submit" asp-controller="Lecture" asp-action="Index" value="Back" class="btn btn-primary" />
                    </div>*@
                
                </div>
            </div>
        }
    </div>
</div>


<style>
    .main {
        margin-left: 160px; /* Same as the width of the sidenav */
        font-size: 16px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }
</style>

@section Scripts {

}

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>